:root {
  --blue: #0468cc;
  --grey: #6c8090;
  --para_size: 1.2rem;
  --para_font_weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', serif;
}

.right-container {
    /* background-color: rebeccapurple; */
  margin: 5% auto;
  padding: 5%;
  max-width: 900px;
}

header h3 {
  font-weight: 500;
  text-align: center;
}
header h2 {
  font-size: 3rem;
  font-weight: 500;
  padding: 15px 0 5px 0;
  letter-spacing: -1px;
}
header p {
  color: var(--grey);
  font-size: var(--para_size);
  font-weight: var(--para_font_weight);
  padding: 5px 0 30px 0;
}

form {
  font-size: var(--para_size);
  /* display: flex;
    flex-direction: column; */
}
form > div {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
label {
  padding: 10px 0;
  font-weight: var(--para_font_weight);
}

input,
select {
  padding: 15px 25px;
  font-size: var(--para_size);
  border: none;
  outline: none;
}
input:focus,
select:focus {
  border-radius: 12px;
  border: 3px solid var(--blue);
  outline: none;
}

input::placeholder {
  color: var(--grey);
  font-weight: 100;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.consent {
  padding: 20px 0;
  color: var(--grey);
  font-weight: 300;
  font-size: var(--para_size);
}

button {
  background: var(--blue);
  color: white;
  padding: 20px;
  margin: 15px 0;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 7px;
  font-size: var(--para_size);
  font-weight: 100;
}

i {
  color: var(--blue);

}

.socials {
  display: none;
}

.left-container {
  display: none;
}

/* media queries */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .left-container {
    display: none;
  }

  form {
    /* background: #744c4c; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  form > div {
    margin: 5px 0;
  }

  .grid-item:last-child {
    grid-column: 1/-1;
  }

  .consent {
    margin: 30px 0 20px 0;
  }
}

@media screen and (min-width: 992px) {
    .left-container {
        /* background-color: red; */
  display: block;
    margin: 5% auto;
    padding: 5%;

}
  .full-container {
    max-width: 1300px;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .left-content{
    margin: 220px 0;
  }

  .left-content img{
    width: 100%;
  }

  .left-content h2{
    font-size: 2.5rem;
    margin: 50px 0 ;
    text-align: center;
    font-weight: 500;
  }


  footer{
    text-align: center;
    margin: 30px 0;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  form > div {
    margin: 5px 0;
  }

  .grid-item:last-child {
    grid-column: 1/-1;
  }

  .consent {
    margin: 30px 0 20px 0;
  }

  .socials {
  display: block;
  text-align: center;
  
} 
.socials i{
    margin: 70px 8px 20px 8px;
}
}
